<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="RestAssuredAPIFrameworkSuite" parallel="false">
    <test name="API Tests">
        <classes>
            <class name="tests.UserTests"/>
            <class name="tests.BooksTest"/>
            <class name="tests.UserNegativeTests"/>
            <class name="tests.BookNegativeTests"/>
        </classes>
    </test>
</suite>
